<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Tạo bộ flashcard</title>
  <link rel="stylesheet" href="../../../public/css/style.css">
  
</head>
<body>
  <div class="header">
    <h2>Tạo một học phần mới</h2>
    <button class="save-btn" onclick="saveSet()">Lưu bộ thẻ</button>
  </div>

  <div class="container">
    
    <label>Tiêu đề</label>
    <input type="text" id="title" placeholder="Nhập tiêu đề bộ thẻ...">
    <label>Mô tả</label>
    <textarea id="description" rows="3" placeholder="Thêm mô tả..."></textarea>

    <div class="actions">
      <button id="import-btn" class="btn">+ Nhập</button>
      <button id="del-all-btn" class="btn-danger">Xóa</button>
    </div>

    <div id="cards"></div>

    <div class="controls">
      <button class="add-btn" onclick="addCard()">+ Thêm thẻ</button>
      <button class="save-btn" onclick="saveSet()">Lưu bộ thẻ</button>
    </div>
  </div>

  <script src="../../../public/js/main.js">
  </script>
</body>
</html>
