.function-test {
  padding: 0px;
  color: #fff;
  background: var(--bg-color);
  padding-top: 70px;
}

.mode-test-main-content {
  height: auto;
  background: #2e3856;
  padding: 20px 40px;
  border-radius: 20px;
  margin-top: 0;
}

.submit-section {
  background: none;
  padding: 50px;
  text-align: center;
  color: #fff;
}

.submit-section p {
  margin: 0 0 20px 0;
  font-size: 28px;
  font-weight: 700;
}

.submit-button {
  background: #4255ff;
  border: none;
  padding: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
}

.submit-button:hover {
  background: #423ed8;
}
