*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

/* Css dùng chung */
.flex{
    display: flex;
}
.active{
    background: #282e3e;
    color: #a7b0fe;
}
.margin-bottom-50{
    margin-bottom: 30px;
}
.padding-16{
    padding:0 16px;
}
.h2{
    font-size: 15px;
    margin-bottom: 15px;
}
.all-section{
    width:350px;
    height: 150px;
    padding: 14px;
    background: #202040;
    border-radius: 10px;
    border: 2px solid #2e3856 ;
}
.khung-mo-ta{
    font-size: 10px;
    padding: 5px 10px;
    background: #586380 ;
    border-radius: 50px;
    margin-right: 10px;
    align-items: center;
}

.khung-mo-ta i{
    margin-right: 5px;
}

.hidden{
    display: none;
}

/* Css Header  */

.header{
    background: #0a092d;
    max-width: 100%;
    height:64px;
    padding: 12px 16px;
    margin:auto;
    color:#d9dde8;
    justify-content:space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
}

#click-navbar{
    width: 40px;
    height: 40px;
    font-size: 20px;
    color:#d9dde8;
    background:#0a092d ;
    border: none;
    padding: 5px;
    border-radius: 50px;
}

.button-navbar:hover #click-navbar{
    background: #2e3856;
}

.logo{
    height: 25px;
    width: auto;
    margin: 8px ;
}

.search{
    width: 600px;
    height:36px;
    border-radius: 10px;
    background: #2e3856;
    position: relative;
}

.input-research{
    width:600px;
    padding-left: 40px;
    border-radius: 10px;
    font-size: 14px;
    border: none;
    box-shadow: none;
    outline: none;
    background: #2e3856;
    color:#8d93b2;
}

.input-research:focus{
    border: 2px solid #d9dde8;
    background: #0a092d;
}

.search i{
    position: absolute;
    top:10px;
    left:10px;
}

.add-folder, .setting img{
    width: 40px;
    height:40px;
    border-radius: 50px;
    margin-left: 10px;
}

.add-folder{
    background: #4255ff;
}

.add-folder i{
    line-height: 40px;
    margin-left: 10px;
    color: #d9dde8;
}

.setting button{
    border: none;
    background: rgba(0,0,0,0);
}

.setting img{
    width: 40px;
    height:40px;
    border-radius: 50px;
}

/* Css Setting */

#account-setting{
    width: 270px;
    position: absolute;
    top:64px;
    right: 16px;
    border: 1px solid #d9dde8;
    border-radius: 10px;
    background: #0a092d;
}

#account-setting a{
    text-decoration: none;
    color:#d9dde8;
}

.account-in4{
    padding: 10px 20px;
    border-bottom: 1px solid #d9dde8;
}

.account-in4 img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.in4{
    align-items: center;
    margin: auto;
    margin-left: 10px;
}

.account-in4 h1,.account-in4 p{
    font-size: 13px;
}

.account-other li{
    list-style-type:none;
}

.account-setting{
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #d9dde8;
}

.setting-item{
    width: 100%;
    height:40px;
    padding:5px 20px;
    text-decoration: none;
    align-items: center;
}

.setting-item i{
    margin-right: 10px;
}

a:hover .setting-item{
    background:#282e3e ;
}

/* Css Main  */
.main{
    width:100%;
    height: 100vh;
    padding-top:64px;
    background: #0a092d;
    position: relative;
    overflow: hidden;
}

/* Css Navbar */
.navbar{
    width: 220px;   
    height:100vh;
    padding: 5px 12px 0 0;
    position: sticky;
    top:0;
}

.navbar a, .navbar-two >p, .navbar-three >p{
    font-size: 14px;
    text-decoration: none;
    color: #f6f7fb;
}

.navbar a{
    line-height: 100%;
}

.navbar-a{
    padding: 12px 10px ;
    border-radius: 8px;
}

.navbar-a{
    margin: 5px 0;
}
.navbar-two >p, .navbar-three >p{
    margin: 0 0 20px 10px;
}

.navbar-one{
    padding-bottom: 15px;
}

.navbar-two, .navbar-three{
    padding: 15px 0;
}

.navbar-one, .navbar-two{
    margin-left: 16px;
    border-bottom: 2px solid #282e3e;
}

.navbar-three{
    margin-left: 16px;
}

.navbar-a i{
    align-items: center;
}

.navbar-a p{
    margin-left: 15px;
}

a:hover .navbar-a{
    background: #2e3856;
}


/* Css MainContent */
.maincontent{
    width:75vw;
    height:100%;
    color: #f6f7fb;
    padding: 20px 0 0 0;
    margin-left:auto;
    margin-right:auto;
    overflow-y: auto;
    scrollbar-width: none;  
}

.maincontent-recent h1 {
    font-size: 15px;
    padding-left: 16px;
    margin-bottom: 10px;
}

.recent-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 10px; */
}

.recent-main a{
    text-decoration: none;
    color: #f6f7fb;
}

.recent{
    padding: 16px;
}

.recent-icon{
    width: 40px;
    height: 40px;
    background: #2e3856;
    border-radius: 7px;
    color: #4ebce9;
}

.recent-icon i {
    line-height: 40px;
    margin-left:10px;
    /* text-align: center; */
}

.recent-content{
    line-height: 20px;
    font-size: 14px;
    margin-left: 15px;
}

a:hover .recent{
    background: #2e3856 ;
    border-radius: 10px;
}

/* Css session */

.maincontent-next-study-session{
    padding: 0 16px;
}

.next-study-session-main a{
    text-decoration: none;
    margin-right: 15px;
}

.session{
    color: #d4f5fc;
    position: relative;
}

.session h1{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.session-terms{
    font-size: 10px;
    width: 50px;
    background: #586380;
    padding:2px;
    border-radius: 20px;
    text-align: center;
}

a:hover .session, a:hover .popular-session, a:hover .top-creators-main-sesstion{
    border: 2px solid #4255ff;
}

.session-author{
    position: absolute;
    bottom:15px;
}

/* Css Popular Textbooks */
.popular-textbooks{
    padding: 0 16px;
}

.popular-textbooks-main a{
    margin-right: 15px;
}

.popular-textbooks-main a{
    text-decoration: none;
}

.popular-session{
    color: #d4f5fc;
}

.popular-session img{
    width: 90px;
    height: 120px;
    border-radius: 5px;
}

.popular-session h1{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.popular-session-content>p{
    font-size: 13px;
}

.popular-session-content{
    margin-left: 10px;
    position: relative;
}

.popular-session-solution{
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 50px;
    background: #586380;
    position: absolute;
    bottom: 0;
    align-items: center;
}

.popular-session-solution p{
    margin-left: 5px;
}

/* Css creators */
.top-creators-main a{
    color: #d4f5fc;
    text-decoration: none;
}

.top-creators-main-sesstion{
    position: relative;
}

.top-creators-main img{
    width:50px;
    height:50px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.creator-tag{
    position: absolute;
    bottom:14px;
}

.creator-tag-1, .creator-tag-2{
    font-size: 13px;
    padding: 2px 10px;
    background: #586380 ;
    border-radius: 50px;
    margin-right: 10px;
}

.creator-rule h3{ 
    font-size: 20px;
}

.creator-rule-important{
    height: 24px;
    margin-left: 10px;
    font-size: 10px;
    padding: 2px 10px;
    color:#0a092d;
    background: #d4f5fc ;
    border-radius: 50px;
    margin-right: 10px;
}

.creator-rule-important p{
    line-height: 20px;
}

.top-creators-main a{
    margin-right: 15px;
}



.footer{
    width:100%;
    justify-content:space-between;
    padding: 25px 0 ;
}

.footer a{
    text-decoration: none;
}

.footer p{
    color: #d4f5fc;
    margin-right:10px;
}