.main-content-new-folder {
  margin-bottom: 200px;
  justify-content: space-between;
}

.main-content-new-folder h1 {
  font-size: 35px;
  margin: 10px 0 30px 0;
}

.main-content-new-folder a {
  text-decoration: none;
  color: #929bb4;
}

.stydy-other-a p {
  color: #f6f7fb;
  background: #4255ff;
  padding: 10px 20px;
  border-radius: 25px;
}

.other-new-folder {
  width: 40px;
  height: 40px;
  background: #0a092d;
  border: 2px solid #f6f7fb;
  border-radius: 50px;
  margin-left: 10px;
}

.other-new-folder i {
  font-size: 20px;
  color: #f6f7fb;
}

.new-folder-header {
  padding: 0px 0 40px 0;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#new-folder-setting {
  width: 225px;
  background: #0a092d;
  position: absolute;
  top: 64px;
  right: 0;
  border: 1px solid #f6f7fb;
  border-radius: 10px;
  z-index: 100;
  padding: 10px 0;
}

#new-folder-setting button {
  width: 100%;
  background: none;
  border: none;
  color: #f6f7fb;
  padding: 5px 20px;
}

#new-folder-setting i,
#new-folder-setting p {
  font-size: 16px;
}

#new-folder-setting i {
  line-height: 30px;
}

#new-folder-setting p {
  color: #f6f7fb;
  background: none;
  padding: none !important;
  padding: 7px 10px;
}

#new-folder-setting button:hover {
  background: #282e3e;
}

.setting-delete p,
.setting-delete i {
  color: #ff7873 !important;
}

#see-folder-recent-main {
  width: 225px;
  background: #0a092d;
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid #f6f7fb;
  border-radius: 10px;
  z-index: 100;
  padding: 10px 0;
}

#see-folder-recent-main button {
  width: 100%;
  background: none;
  border: none;
  color: #f6f7fb;
  padding: 5px 20px;
}

#see-folder-recent-main p {
  color: #f6f7fb;
  background: none;
  padding: 7px 10px;
}

#see-folder-recent-main button:hover {
  background: #282e3e;
}

.filter-add {
  width: 50px;
  height: 40px;
  background: #0a092d;
  border: 2px solid #f6f7fb;
  border-radius: 50px;
  margin-right: 10px;
}

.new-folder-filter-add {
  color: #f6f7fb;
  background: #2e3856;
  border: none;
  border-radius: 50px;
}

.filter-add p {
  color: #f6f7fb;
}

.new-folder-maincontent {
  height: 250px;
  background: #2e3856;
  border-radius: 10px;
  padding: 70px;
}

.new-folder-main-content {
  width: 300px;
  text-align: center;
  margin: auto;
}

.new-folder-main-content h2,
.new-folder-main-content button {
  color: #f6f7fb;
}

.new-folder-main-content h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.new-folder-maincontent button {
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  background: #4255ff;
}

.new-folder-main-filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  width: 10%;
}

.new-folder-main-filter {
  margin-bottom: 25px;
}

.see-folder-maincontent {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 35px;
  position: relative;
}

.see-folder-button-recent,
.see-folder-button-material {
  background: none;
  color: #f6f7fb;
  border: none;
  border-radius: 20px;
  border: 2px solid #f6f7fb;
}

.see-folder-button-material {
  align-items: center;
}

.see-folder-button-recent {
  align-items: center;
}
.see-folder-button-recent-main,
.see-folder-button-material-main {
  padding: 10px 15px;
  border-radius: 20px;
}

.see-folder-button-recent p,
.see-folder-button-material i {
  margin-right: 5px;
}

.see-folder-button-recent:hover .see-folder-button-recent-main {
  background: #2e3856;
}

.see-folder-button-material:hover .see-folder-button-material-main {
  background: #2e3856;
}

.see-folder-search input {
  width: 350px;
  background: none;
  border: none;
  padding: 10px 20px;
  background: #2e3856;
  margin-left: 10px;
  border-radius: 5px;
}

.see-folder-search {
  position: relative;
}

.see-folder-search i {
  position: absolute;
  right: 12px;
  top: 12px;
}

.see-folder-search input:focus {
  color: #929bb4;
  border: 2px solid #d9dde8;
  background: #0a092d;
}

#new-folder-add-tag {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.4);
}

.new-folder-add-tag-close {
  height: 40px;
  width: 40px;
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 10px;
  color: #f6f7fb;
  background: none;
  border: none;
}

.new-folder-add-tag-close:hover {
  background: #2e3856;
  border-radius: 50px;
}

.new-folder-add-tag-container {
  width: 450px;
  height: 425px;
  background: #0a092d;
  margin: auto;
  margin-top: 50px;
  padding: 32px 32px 0 32px;
  border-radius: 20px;
  position: relative;
}

.new-folder-add-tag-header {
  height: 300px;
  /* overflow-y: scroll; */
}

.new-folder-add-tag-header h1 {
  font-size: 32px;
  margin: 16px 0;
  color: #f6f7fb;
}

.new-folder-recommended {
  padding: 16px 0 32px;
}

.new-folder-recommended input {
  width: 100%;
  height: 48px;
  background: #2e3856;
  border: none;
  padding: 4px 12px;
  border-radius: 10px;
  /* border: 2px solid #d9dde8; */
  font-size: 16px;
  color: #f6f7fb;
  margin-bottom: 20px;
}

.new-folder-recommended > p {
  color: #f6f7fb;
  font-size: 14px;
}

.new-folder-recommended-main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.new-folder-recommended-main button {
  color: #f6f7fb;
  background: #2e3856;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  margin: 0 10px 10px 0;
}

.new-folder-add-tag-footer {
  display: flex;
  float: right;
}

.new-folder-add-tag-footer button {
  background: none;
  color: #f6f7fb;
  border: 2px solid #d9dde8;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 50px;
}
