.create-flashcard-header,
.create-flashcard-maincontent {
  height: 40px;
  justify-content: space-between;
}

.create-flashcard-title h1,
.create-flashcard-title p {
  line-height: 40px;
}

.create-flashcard-title h1 {
  font-size: 24px;
}

.create-flashcard-title p {
  font-size: 14px;
  margin-left: 10px;
}

.button-create-flashcard-create,
.button-create-flashcard-create-practice {
  border-radius: 20px;
  /* bỏ color ở đây */
}
body.dark-mode .button-create-flashcard-create,
body.dark-mode .button-create-flashcard-create-practice {
  color: #f6f7fb;
}
body.light-mode .button-create-flashcard-create,
body.light-mode .button-create-flashcard-create-practice {
  color: #222;
}

.button-create-flashcard-create {
  padding: 10px 20px;
  background: none;
  border: 2px solid #586380;
  font-size: 14px;
  margin-right: 15px;
}
body.dark-mode .button-create-flashcard-create {
  border: 2px solid #586380;
}
body.light-mode .button-create-flashcard-create {
  border: 2px solid #1976d2;
}

.button-create-flashcard-create-practice {
  padding: 12px 22px;
  /* bỏ background ở đây */
  border: none;
  font-size: 14px;
}
body.dark-mode .button-create-flashcard-create-practice {
  background: #4255ff;
}
body.light-mode .button-create-flashcard-create-practice {
  background: #1976d2;
}

.create-flashcard-header {
  width: 73%;
  height: 80px;
  margin-bottom: 30px;
  position: fixed;
  top: 50px;
  background: #0a092d;
  padding: 20px 0;
}

.create-flashcard-main {
  margin-top: 70px;
}

.button-create-flashcard-main-title input {
  width: 100%;
  height: 48px;
  font-size: 16px;
  padding: 4px 12px;
  border-radius: 10px;
  /* bỏ background ở đây */
  border: none;
  margin-bottom: 10px;
}
body.dark-mode .button-create-flashcard-main-title input {
  background: #2e3856;
  color: #f6f7fb;
}
body.light-mode .button-create-flashcard-main-title input {
  background: #e0e0e0;
  color: #222;
}

.button-create-flashcard-main-title input::placeholder,
.button-create-flashcard-main-desc input::placeholder,
.input-term-create-flashcard-main-content-main input::placeholder,
.container-input-definition input::placeholder {
  color: #9198b2;
}

.button-create-flashcard-main-desc input {
  width: 100%;
  height: 76px;
  font-size: 16px;
  padding: 8px 12px 30px 12px;
  border-radius: 10px;
  /* bỏ background ở đây */
  border: none;
  margin-bottom: 30px;
}
body.dark-mode .button-create-flashcard-main-desc input {
  background: #2e3856;
  color: #f6f7fb;
}
body.light-mode .button-create-flashcard-main-desc input {
  background: #e0e0e0;
  color: #222;
}

.button-import-flashcard-main,
.button-adddiagram-flashcard-main {
  /* bỏ color, background ở đây */
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 20px;
  border: 2px solid #586380;
  margin-right: 15px;
}
body.dark-mode .button-import-flashcard-main,
body.dark-mode .button-adddiagram-flashcard-main {
  color: #f6f7fb;
  background: #0a092d;
}
body.light-mode .button-import-flashcard-main,
body.light-mode .button-adddiagram-flashcard-main {
  color: #222;
  background: #e0e0e0;
  border: 2px solid #1976d2;
}

.button-import-flashcard-main p {
  line-height: 20px;
}

.button-adddiagram-flashcard-main i,
.button-adddiagram-flashcard-main p {
  line-height: 20px;
}

.create-flashcard-maincontent-left .fa-plus {
  line-height: 20px;
  margin-right: 5px;
}

.lock-flashcard-main {
  width: 30px;
  color: #000;
  background: #ffcd1f;
  margin-left: 5px;
  border-radius: 10px;
}

.create-flashcard-maincontent-right p {
  /* bỏ color ở đây */
  line-height: 40px;
  margin-right: 15px;
}
body.dark-mode .create-flashcard-maincontent-right p {
  color: #f6f7fb;
}
body.light-mode .create-flashcard-maincontent-right p {
  color: #222;
}

.button-create-flashcard-maincontent-setting,
.button-create-flashcard-maincontent-swap,
.button-create-flashcard-maincontent-keyboard,
.button-create-flashcard-maincontent-delete {
  /* bỏ background ở đây */
  border: none;
}
body.dark-mode .button-create-flashcard-maincontent-setting,
body.dark-mode .button-create-flashcard-maincontent-swap,
body.dark-mode .button-create-flashcard-maincontent-keyboard,
body.dark-mode .button-create-flashcard-maincontent-delete {
  background: #0a092d;
}
body.light-mode .button-create-flashcard-maincontent-setting,
body.light-mode .button-create-flashcard-maincontent-swap,
body.light-mode .button-create-flashcard-maincontent-keyboard,
body.light-mode .button-create-flashcard-maincontent-delete {
  background: #e0e0e0;
}

.create-flashcard-maincontent-setting,
.create-flashcard-maincontent-swap,
.create-flashcard-maincontent-keyboard,
.create-flashcard-maincontent-delete {
  /* bỏ color, background ở đây */
  border: 2px solid #586380;
  width: 40px;
  height: 40px;
  line-height: 36px;
  border-radius: 50px;
  margin-right: 15px;
  font-size: 15px;
}
body.dark-mode .create-flashcard-maincontent-setting,
body.dark-mode .create-flashcard-maincontent-swap,
body.dark-mode .create-flashcard-maincontent-keyboard,
body.dark-mode .create-flashcard-maincontent-delete {
  color: #f6f7fb;
  background: #0a092d;
  border: 2px solid #586380;
}
body.light-mode .create-flashcard-maincontent-setting,
body.light-mode .create-flashcard-maincontent-swap,
body.light-mode .create-flashcard-maincontent-keyboard,
body.light-mode .create-flashcard-maincontent-delete {
  color: #222;
  background: #e0e0e0;
  border: 2px solid #1976d2;
}

.create-flashcard-main-content-header {
  height: 64px;
  justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 2px solid #000;
}
body.dark-mode .create-flashcard-main-content-header {
  border-bottom: 2px solid #f6f7fb;
}
body.light-mode .create-flashcard-main-content-header {
  border-bottom: 2px solid #222;
}

.create-flashcard-main-content-header-option button {
  border: none;
  background: none;
}

.button-create-flashcard-main-content-grip-line {
  margin-right: 10px;
}

.button-create-flashcard-main-content-grip-line:hover {
  background: #0a092d;
  border-radius: 50px;
}

.create-flashcard-main-content-header-option i {
  width: 32px;
  height: 32px;
  padding: 10px;
  /* bỏ color ở đây */
}
body.dark-mode .create-flashcard-main-content-header-option i {
  color: #f6f7fb;
}

.button-trash:hover {
  background: #0a092d;
  border-radius: 50px;
}
body.light-mode .create-flashcard-main-content-header-option i {
  color: #222;
}

.create-flashcard-main-content-header p {
  font-size: 16px;
  margin-top: 5px;
}

.create-flashcard-main-content-main {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 20px;
  padding: 16px 24px;
}

.create-flashcard-main-content {
  /* bỏ color, background ở đây */
  margin-top: 15px;
  border-radius: 15px;
}
body.dark-mode .create-flashcard-main-content {
  color: #f6f7fb;
  background: #2e3856;
}
body.light-mode .create-flashcard-main-content {
  color: #222;
  background: #fff;
}

.create-flashcard-main-content-main input {
  width: 100%;
}

.option-input-term-create-flashcard-main-content-main,
.option-input-definition-create-flashcard-main-content-main {
  justify-content: space-between;
}

.option-input-term-create-flashcard-main-content-main p,
.option-input-definition-create-flashcard-main-content-main p {
  font-size: 12px;
  margin-left: 10px;
}

.input-definition-create-flashcard-main-content-main {
  /* display: grid;
  gap: 20px;
  /* grid-template-columns: 77% 15%; */
  /* grid-template-columns: 77% 15%; */
}

.create-flashcard-main-content-main input {
  width: 100%;
  height: 48px;
  /* bỏ background ở đây */
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
  margin: 10px 0 15px 0;
}
body.dark-mode .create-flashcard-main-content-main input {
  background: #0a092d;
  color: #f6f7fb;
}
body.light-mode .create-flashcard-main-content-main input {
  background: #e0e0e0;
  color: #222;
}

.option-input-term-create-flashcard-main-content-main,
.option-input-definition-create-flashcard-main-content-main {
  margin-bottom: 10px;
}

.option-input-term-create-flashcard-main-content-main button,
.option-input-definition-create-flashcard-main-content-main button {
  background: none;
  border: none;
  /* bỏ color ở đây */
}
body.dark-mode .option-input-term-create-flashcard-main-content-main button,
body.dark-mode
  .option-input-definition-create-flashcard-main-content-main
  button {
  color: #6671d5;
}
body.light-mode .option-input-term-create-flashcard-main-content-main button,
body.light-mode
  .option-input-definition-create-flashcard-main-content-main
  button {
  color: #1976d2;
}

.input-definition-create-flashcard-main-img {
  padding: 10px;
  border: 2px solid #586380;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0 25px 0;
}

.button-create-flashcard-create:hover {
  background: #2e3856;
}

.button-create-flashcard-create-practice:hover {
  background: #2f43f1;
}

.button-add-a-card {
  width: 130px;
  height: 90px;
  background: none;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button-add-a-card button {
  border: 2px solid #586380;
  background: none;
  padding: 20px;
  /* bỏ color ở đây */
  border-radius: 50px;
  font-size: 16px;
}
body.dark-mode .button-add-a-card button {
  color: #f6f7fb;
}
body.light-mode .button-add-a-card button {
  color: #222;
  border: 2px solid #1976d2;
}

#flashcard-setting {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 50px;
  z-index: 99999;
}

.flashcard-main {
  margin: auto;
  /* bỏ background, color ở đây */
  width: 800px;
  padding: 30px;
  border-radius: 15px;
}
body.dark-mode .flashcard-main {
  background: #0a092d;
  color: #f6f7fb;
}
body.light-mode .flashcard-main {
  background: #fff;
  color: #222;
}

.flashcard-main h1 {
  font-size: 32px;
  margin: 16px 0;
}

.flashcard-main-content h2 {
  font-size: 16px;
}

.flashcard-main-content button {
  margin: 15px 0;
  padding: 10px 20px;
  background: none;
  border: none;
  /* bỏ color ở đây */
  font-size: 14px;
  border: 2px solid #0a092d;
}
body.dark-mode .flashcard-main-content button {
  color: #a7b0fe;
  border: 2px solid #0a092d;
}
body.light-mode .flashcard-main-content button {
  color: #1976d2;
  border: 2px solid #1976d2;
}

.flashcard-main-content button i {
  margin-left: 10px;
}

.flashcard-main-visible-to,
.flashcard-main-visible-to {
  width: 50%;
}

.flashcard-line {
  height: 30px;
  width: 100%;
  padding: none;
  /* bỏ border ở đây */
  margin-top: 20px;
}
body.dark-mode .flashcard-line {
  border-bottom: 1px solid #f6f7fb;
}
body.light-mode .flashcard-line {
  border-bottom: 1px solid #222;
}

.flashcard-button-save {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.flashcard-button-save button {
  /* bỏ color, background ở đây */
  line-height: 20px;
  padding: 10px 16px;
  border: none;
  border-radius: 50px;
  margin-top: 10px;
}
body.dark-mode .flashcard-button-save button {
  color: #f6f7fb;
  background: #4255ff;
}
body.light-mode .flashcard-button-save button {
  color: #fff;
  background: #1976d2;
}

.flashcard-button-save button:hover {
  background: #2f43f1;
}

.button-flashcard-main-visible-to:hover,
.button-flashcard-main-editable:hover {
  border: 2px solid #586380;
  border-radius: 50px;
}

.flashcard-button-option {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.flashcard-button-option button {
  /* bỏ color, background ở đây */
  line-height: 20px;
  padding: 10px 16px;
  border-radius: 50px;
  margin-top: 20px;
}
body.dark-mode .flashcard-button-option button {
  color: #f6f7fb;
  background: #4255ff;
}
body.light-mode .flashcard-button-option button {
  color: #fff;
  background: #1976d2;
}

.flashcard-button-delete {
  background: #b00020;
  border: 2px solid #b00020;
  margin-left: 10px;
  color: #fff;
}

.flashcard-button-cancel {
  /* bỏ background ở đây */
  border: 2px solid #586380;
}
body.dark-mode .flashcard-button-cancel {
  background: #0a092d;
  color: #f6f7fb;
}
body.light-mode .flashcard-button-cancel {
  background: #e0e0e0;
  color: #222;
}

.flashcard-button-cancel:hover {
  background: #2e3856;
}

.flashcard-button-delete:hover {
  border: 2px solid #df3252;
  background: #df3252;
}

.button-trash.disabled {
  opacity: 0.4; /* làm mờ */
  cursor: not-allowed; /* đổi con trỏ */
}

.import-flashcard h4 {
  margin-bottom: 20px;
}

.import-flashcard {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background: var(--bg-color);
}

.import-header {
  padding: 30px 30px 100px 30px;
}

.import-flashcard::-webkit-scrollbar {
  width: 10px; /* Độ rộng thanh cuộn dọc */
}

.import-flashcard::-webkit-scrollbar-track {
  background: var(--bg-color); /* Màu nền của rãnh */
  border-radius: 10px;
}

.import-flashcard::-webkit-scrollbar-thumb {
  background: #282e3e;
  border-radius: 10px;
}

.import-flashcard::-webkit-scrollbar-thumb:hover {
  /* background: linear-gradient(180deg, #ffaa33, #ff8800); */
}
.close-import {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 20px;
  color: var(--text-color);
}

.button-close-import {
  border: none;
  background: none;
}

.import-flashcard textarea {
  width: 100%;
  height: 200px;
  padding: 16px;
  background: none;
  border: 2px solid var(--text-color);
  font-size: 17px;
  color: var(--text-color);
}

.import-flashcard textarea:focus {
  color: var(--text-color);
}

.import-footer {
  width: 100vw;
  height: 100px;
  background: var(--bg-color);
  position: absolute;
  border-top: 2px solid var(--text-color);
  bottom: 0px;
  padding: 20px 30px;
}

.button-cancel,
.button-import {
  padding: 10px 15px;
  border-radius: 50px;
  margin-right: 10px;
  color: var(--text-color);
  font-size: 16px;
}

.button-cancel {
  background: #2e3856;
  border: none;
}

.button-import {
  border: none;
  background: var(--button-blue-color);
}

.footer-button {
  position: absolute;
  right: 20px;
}

.main-import-header p {
  line-height: 68px;
  padding: 16px;
}

.main-flashcard-import {
}

.main-import-main {
  height: 100px;
  background: #2e3856;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  margin-bottom: 10px;
  padding: 20px;
  gap: 30px;
}

.main-import-item {
  background-color: var(--bg-color);
  height: 40px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 10px;
}

.import-option {
  gap: 20px;
  margin: 30px 0 10px;
}

.import-option label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.import-option input {
  margin-right: 5px;
}

.import-option .custom-input {
  width: 85%;
  background: #2e3856;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: var(--text-color);
  font-size: 16px;
}

.import-option .custom-input:focus {
  font-size: 16px;
  outline: none;
  border: none;
  box-shadow: none;
}

.import-option-term-definition,
.import-option-cards {
  width: 220px;
}

.import-preview h4 {
  margin-right: 5px;
  font-size: 16px;
}

textarea.custom-textarea {
  width: 100%;
  height: 200px;
  padding: 12px 16px;
  background-color: var(--bg-color);
  color: #fff;
  border: 2px solid #2d2d6e;
  font-size: 15px;
  line-height: 1.5;
  resize: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  overflow-y: scroll;
}

textarea.custom-textarea::placeholder {
  color: var(--bg-color);
}

textarea.custom-textarea::-webkit-scrollbar {
  width: 10px; /* Độ rộng thanh cuộn dọc */
}

textarea.custom-textarea::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 10px;
}

textarea.custom-textarea::-webkit-scrollbar-thumb {
  background: #282e3e;
  border-radius: 10px;
}

textarea.custom-textarea:focus {
  border-color: #3b82f6; /* xanh sáng */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.4);
}

.button-preview {
  padding: 10px 15px;
  background: var(--button-blue-color);
  border-radius: 50px;
  border: none;
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 45px;
}
