.main-content-new-folder {
  margin-bottom: 200px;
  justify-content: space-between;
}

.main-content-new-folder h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

.main-content-new-folder a {
  text-decoration: none;
  /* bỏ color ở đây */
}
body.dark-mode .main-content-new-folder a {
  color: var(--text-color);
}
body.light-mode .main-content-new-folder a {
  color: #222;
}

.stydy-other-a p {
  padding: 10px 20px;
  border-radius: 25px;
}
body.dark-mode .stydy-other-a p {
  color: #f6f7fb;
  background: #4255ff;
}
body.light-mode .stydy-other-a p {
  color: #222;
  background: #e0e0e0;
}

.other-new-folder {
  position: relative;
  width: 40px;
  height: 40px;
  /* bỏ background, border ở đây */
  border-radius: 50px;
  margin-left: 10px;
}

body.dark-mode .other-new-folder {
  background: #0a092d;
  border: 2px solid #f6f7fb;
}
body.light-mode .other-new-folder {
  background: #fff;
  border: 2px solid #222;
}

.other-new-folder i {
  font-size: 15px;
  /* bỏ color ở đây */
}
body.dark-mode .other-new-folder i {
  color: #f6f7fb;
}

body.dark-mode .other-new-folder .fa-trash {
  color: #ff3736;
}
body.light-mode .other-new-folder i {
  color: #222;
}

.new-folder-header {
  padding: 0px 0 40px 0;
  justify-content: space-between;
  align-items: center;
}

.filter-add {
  width: 50px;
  height: 40px;
  /* bỏ background, border ở đây */
  border-radius: 50px;
  margin-right: 10px;
}
body.dark-mode .filter-add {
  background: #0a092d;
  border: 2px solid #f6f7fb;
}
body.light-mode .filter-add {
  background: #fff;
  border: 2px solid #222;
}

.new-folder-filter-add {
  /* bỏ color, background ở đây */
  border: none;
  border-radius: 50px;
  padding: 10px 12px;
}
body.dark-mode .new-folder-filter-add {
  color: #f6f7fb;
  background: #2e3856;
}
body.light-mode .new-folder-filter-add {
  color: #222;
  background: #e0e0e0;
}

.filter-add p {
  /* bỏ color ở đây */
}
body.dark-mode .filter-add p {
  color: #f6f7fb;
}
body.light-mode .filter-add p {
  color: #222;
}

.new-folder-maincontent {
  height: 250px;
  /* bỏ background ở đây */
  border-radius: 10px;
  padding: 70px;
  margin-top: 50px;
}
body.dark-mode .new-folder-maincontent {
  background: #2e3856;
}
body.light-mode .new-folder-maincontent {
  background: #e0e0e0;
}

.new-folder-main-content {
  width: 300px;
  text-align: center;
  margin: auto;
}

.new-folder-main-content h2,
.new-folder-main-content button {
  /* bỏ color ở đây */
}
body.dark-mode .new-folder-main-content h2,
body.dark-mode .new-folder-main-content button {
  color: #f6f7fb;
}
body.light-mode .new-folder-main-content h2,
body.light-mode .new-folder-main-content button {
  color: #222;
}

.new-folder-main-content h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.new-folder-maincontent button {
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  /* bỏ background ở đây */
}
body.dark-mode .new-folder-maincontent button {
  background: #4255ff;
  color: #f6f7fb;
}
body.light-mode .new-folder-maincontent button {
  background: #1976d2;
  color: #fff;
}

.new-folder-main-filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  width: 10%;
  margin-bottom: 25px;
}

/* Add Flash Card */

.add-flash-cards {
  width: 800px;
  height: 500px;
  background: #0a092d;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #f6f7fb;
  overflow-y: auto;
  scrollbar-width: none;
}

.add-flash-cards-header {
  padding: 40px 40px 20px 40px;
  /* margin: 20px 0 20px; */
}

.add-flash-cards button {
  background: none;
  border: none;
}

.add-flash-cards-icon {
  width: 36px;
  color: #f6f7fb;
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 16px;
  padding: 10px;
}

.add-flash-cards-icon:hover {
  background: #2e3856;
  border-radius: 50px;
}

.add-flash-cards::-webkit-scrollbar {
  display: none;
}

#add-flash-card {
  margin: 0 20px;
  justify-content: space-between;
  position: relative;
}

#add-flash-card:hover {
  background: #2e3856;
  border-radius: 15px;
}

#add-flash-card .fa-plus,
#add-flash-card .fa-check {
  width: 20px;
  height: 20px;
  font-size: 9px;
  color: var(--text-color);
  padding: 4px;
  border: 1px solid var(--text-color);
  border-radius: 50px;
}
#add-flash-card .fa-check {
  color: var(--bg-color);
  background: var(--text-color);
}

#add-flash-card .fa-plus:hover {
  background: #0a092d;
  border-radius: 50px;
}
#add-flash-card .fa-check:hover {
  background: var(--text-color);
}

.add-flash-cards-create {
  justify-content: space-between;
  padding: 20px 40px;
  border-top: 2px solid #2e3856;
}

.add-flash-cards-create a {
  color: #a8b1ff;
  font-size: 16px;
  text-decoration: none;
}

.add-flash-cards-create a:hover {
  color: #4255ff;
}

.add-flash-cards-create a i {
  margin-right: 10px;
  line-height: 20px;
}

.add-flash-cards-footer {
  background: #0a092d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  float: right;
  padding: 10px 32px 32px;
}

.add-flash-cards-footer button {
  background: #4255ff;
  border: none;
  padding: 20px 32px;
  border-radius: 50px;
  color: #f6f7fb;
  font-size: 16px;
}

.add-flash-cards-footer button:hover {
  background: #3044f2;
}

.see-folder-maincontent {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 35px;
  position: relative;
}

.see-folder-button-recent,
.see-folder-button-material {
  background: none;
  /* bỏ color, border ở đây */
  border-radius: 20px;
}
body.dark-mode .see-folder-button-recent,
body.dark-mode .see-folder-button-material {
  color: #f6f7fb;
  border: none;
}

body.dark-mode .see-folder-button-material {
  border: none;
  background: #2e3856;
}

body.light-mode .see-folder-button-recent,
body.light-mode .see-folder-button-material {
  color: #222;
  border: 2px solid #222;
}

.see-folder-button-material {
  align-items: center;
}

.see-folder-button-recent {
  align-items: center;
}
.see-folder-button-recent-main,
.see-folder-button-material-main {
  padding: 10px 15px;
  border-radius: 20px;
}

.see-folder-button-recent p,
.see-folder-button-material i {
  margin-right: 5px;
}

.see-folder-button-recent:hover .see-folder-button-recent-main,
.see-folder-button-material:hover .see-folder-button-material-main {
  background: #2e3856;
}

.see-folder-search input {
  width: 350px;
  background: none;
  border: none;
  padding: 10px 20px;
  /* bỏ background, border ở đây */
  margin-left: 10px;
  border-radius: 5px;
}
body.dark-mode .see-folder-search input {
  background: #2e3856;
  border: 2px solid #2e3856;
  color: #f6f7fb;
}
body.light-mode .see-folder-search input {
  background: #e0e0e0;
  border: 2px solid #e0e0e0;
  color: #222;
}

.see-folder-search {
  position: relative;
}

.see-folder-search i {
  position: absolute;
  right: 12px;
  top: 12px;
}

.see-folder-search input:focus {
  color: #929bb4;
  border: 2px solid #d9dde8;
  background: #0a092d;
}

#new-folder-add-tag {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.4);
}

.new-folder-add-tag-close {
  height: 40px;
  width: 40px;
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 10px;
  /* bỏ color, background ở đây */
  border: none;
}
body.dark-mode .new-folder-add-tag-close {
  color: #f6f7fb;
  background: none;
}
body.light-mode .new-folder-add-tag-close {
  color: #222;
  background: none;
}

.new-folder-add-tag-close:hover {
  background: #2e3856;
  border-radius: 50px;
}

.new-folder-add-tag-container {
  width: 450px;
  height: 425px;
  /* bỏ background ở đây */
  margin: auto;
  margin-top: 50px;
  padding: 32px 32px 0 32px;
  border-radius: 20px;
  position: relative;
}
body.dark-mode .new-folder-add-tag-container {
  background: #0a092d;
}
body.light-mode .new-folder-add-tag-container {
  background: #fff;
}

.new-folder-add-tag-header {
  height: 300px;
  /* overflow-y: scroll; */
}

.new-folder-add-tag-header h1 {
  font-size: 32px;
  margin: 16px 0;
  /* bỏ color ở đây */
}
body.dark-mode .new-folder-add-tag-header h1 {
  color: #f6f7fb;
}
body.light-mode .new-folder-add-tag-header h1 {
  color: #222;
}

.new-folder-recommended {
  padding: 16px 0 32px;
}

.new-folder-recommended input {
  width: 100%;
  height: 48px;
  /* bỏ background, color ở đây */
  border: none;
  padding: 4px 12px;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}
body.dark-mode .new-folder-recommended input {
  background: #2e3856;
  color: #f6f7fb;
}
body.light-mode .new-folder-recommended input {
  background: #e0e0e0;
  color: #222;
}

.new-folder-recommended > p {
  /* bỏ color ở đây */
  font-size: 14px;
}
body.dark-mode .new-folder-recommended > p {
  color: #f6f7fb;
}
body.light-mode .new-folder-recommended > p {
  color: #222;
}

.new-folder-recommended-main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.new-folder-recommended-main button {
  /* bỏ color, background ở đây */
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  margin: 0 10px 10px 0;
}
body.dark-mode .new-folder-recommended-main button {
  color: #f6f7fb;
  background: #2e3856;
}
body.light-mode .new-folder-recommended-main button {
  color: #222;
  background: #e0e0e0;
}

.new-folder-add-tag-footer {
  display: flex;
  float: right;
}

.new-folder-add-tag-footer button {
  background: none;
  /* bỏ color, border ở đây */
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 50px;
}
body.dark-mode .new-folder-add-tag-footer button {
  color: #f6f7fb;
  border: 2px solid #d9dde8;
}
body.light-mode .new-folder-add-tag-footer button {
  color: #222;
  border: 2px solid #222;
}
