<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="container header__container">
        <div class="header__left">
          <div class="header__content">
            <div class="icon">ICON_1</div>
            <div class="icon">ICON_2</div>
          </div>
        </div>
        <div class="header__center">
          <input type="text" class="input" />
        </div>
        <div class="header__right">
          <div class="header_content">
            <div class="icon">Iocn</div>
            <div class="icon">Avatar</div>
          </div>
        </div>
      </div>
    </header>
    <!--  BODY-->
  </body>
</html>
