$color__blue-bold: #0a092d;
$color__blue: #2e3856;
$color__gray: #706e6ecc;
$color__gray_hover: #a9a7a7;
$color__white: white;
$color__text: #929bb4;
$color__button: #6366f1;
$color__button-hover: #5558d4;
$color__button-outline-hover: #2e3856;
.button {
  display: inline;
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  // max-width: 280px;
}

.button--blue {
  @extend .button;
  background-color: $color__button;
  &:hover {
    background-color: $color__button-hover;
  }
}

.button--gray {
  @extend .button;
  background-color: $color__gray;
  &:hover {
    background-color: $color__gray_hover;
  }
}

.button--outline {
  @extend .button;
  background-color: transparent;
  color: white;
  border: 1px solid #ccc;
  &:hover {
    background-color: #1a2959;
  }
}

h1 {
  font-size: 2rem;
  margin-bottom: 12px;
  padding-bottom: 20px;
}

a {
  display: block;
}

h3 {
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

// Animation
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
