.top-creators-main a {
  /* bỏ color ở đây */
  text-decoration: none;
}
body.dark-mode .top-creators-main a {
  color: #d4f5fc;
}
body.light-mode .top-creators-main a {
  color: #1976d2;
}

.top-creators-main-sesstion {
  /* position: relative; */
}
body.dark-mode .top-creators-main-sesstion {
  background: #23243a;
  color: #d4f5fc;
}
body.light-mode .top-creators-main-sesstion {
  background: #fff;
  color: #aeb0b1;
}

.top-creators-main img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.creator-tag {
  /* position: absolute;
    bottom:14px; */
  margin-top: 10px;
}

.creator-tag-1,
.creator-tag-2 {
  font-size: 13px;
  padding: 2px 10px;
  background: #586380;
  border-radius: 50px;
  margin-right: 10px;
}
body.light-mode .creator-tag-1,
body.light-mode .creator-tag-2 {
  background: #e0e0e0;
  color: #1976d2;
}

.creator-rule h3 {
  font-size: 20px;
}

.creator-rule-important {
  height: 24px;
  margin-left: 10px;
  font-size: 10px;
  padding: 2px 10px;
  /* bỏ color, background ở đây */
  border-radius: 50px;
  margin-right: 10px;
}
body.dark-mode .creator-rule-important {
  color: #0a092d;
  background: #d9dde8;
}
body.light-mode .creator-rule-important {
  color: #fff;
  background: #1976d2;
}

.creator-rule-important p {
  font-size: 13px;
  line-height: 20px;
  color: #0a092d !important;
  margin: 0 !important;
}

.top-creators-main a {
  /* margin-right: 15px; */
}

.icon-top-creator {
  font-size: 15px;
}
