.item-folder-main {
  position: relative;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 10px;
}

#item-folder {
  position: relative;
  margin-top: 10px;
}

.item-folder {
  width: 100%;
  padding-left: 20px;
  line-height: 20px;
}

.item-folder-main-icon-card {
  width: 40px;
  height: 40px;
}

.item-folder-main-icon-card i {
  line-height: 37px;
  color: #51cfff;
  width: 100%;
  font-size: 18px;
  background: #2e3856;
  border-radius: 10px;
}

.item-folder h1,
.item-folder p {
  font-size: 14px;
}

.item-folder h1 {
  margin: 0;
}

.item-folder-button-option {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
  background: none;
  border: none;
}

.button-option {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.button-option i {
  line-height: 40px;
}

.item-folder-button-option i {
  color: #f6f7fb;
  font-size: 18px;
}

#item-folder:hover .item-folder-main {
  background: #2e3856;
}

.item-folder-button-option:hover .button-option {
  background: #0a092d;
}

#item-folder-button-option-menu {
  width: 250px;
  background: #0a092d;
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 99999;
  border: 2px solid #d9dde8;
  padding: 10px 0;
  border-radius: 10px;
}

#item-folder-button-option-menu button {
  width: 100%;
  background: none;
  border: none;
  color: #f6f7fb;
  padding: 5px 20px;
}

#item-folder-button-option-menu button:hover {
  background: #282e3e;
}

#item-folder-button-option-menu button i,
#item-folder-button-option-menu button h3 {
  font-size: 16px;
  line-height: 30px;
}

#item-folder-button-option-menu button h3 {
  font-weight: 400;
}

#item-folder-button-option-menu button i {
  margin-right: 10px;
}

#add-or-remove-tags {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.add-or-remove-tags-container {
  width: 500px;
  height: 280px;
  margin: auto;
  margin-top: 60px;
  color: #f6f7fb;
  position: relative;
  background: #0a092d;
  border-radius: 20px;
}

.add-or-remove-tags-container h1 {
  font-size: 32px;
  margin: 16px 0;
}

.add-or-remove-tags-container-main {
  margin: 40px 0 32px;
}

.add-or-remove-tags-container-main button {
  padding: 15px 20px;
  background: #202040;
  border: none;
  color: #f6f7fb;
  border-radius: 50px;
}

.add-or-remove-tags-container-main button i,
.add-or-remove-tags-container-main button p {
  line-height: 23px;
}

.add-or-remove-tags-container-main button p {
  margin-left: 5px;
}

.add-or-remove-tags-container-main .flex {
  margin-right: 10px;
}

.button-add-or-remove-tags-done {
  color: #f6f7fb;
  display: flex;
  float: right;
  background: #2e3856;
  border: none;
  font-size: 16px;
  padding: 15px 20px;
  border: 2px solid #2e3856;
  border-radius: 50px;
}

.button-add-or-remove-tags-done:hover {
  background: none;
  border: 2px solid #d9dde8;
}
