/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body.dark-mode {
  background: #18192b;
  color: #fff;
}

body.light-mode {
  background: #f5f5f5;
  color: #222;
}

.dark-mode .card,
.dark-mode .modal {
  background: #23243a;
  color: #fff;
}
.light-mode .card,
.light-mode .modal {
  background: #fff;
  color: #222;
}
