.sectionfolder p{
    border: none;
}

.sectionfolder i {
    font-size: 20px;
    margin-right: 10px;
    color: #f6f7fb;
}

.sectionfolder {
    margin-bottom: 20px;
}

.sectionfolder a:hover .main-flashcard{
    border-bottom: 5px solid #5070c8;
}