.account-defalt {
  /* width: 90px; */
  height: 90px;
  border-radius: 50px;
  margin: 0 25px 0 6px;
}

.set-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 2.5px 5px;
}

#setting-account {
  padding: 0 100px;
  margin-bottom: 50px;
}

#setting-account .button-edit {
  padding: 10px 15px;
  border-radius: 50px;
  background: none;
  border: none;
  border: 2px solid #d9dde8;
  color: #d9dde8;
}

.button-img {
  background: none;
  border: none;
}

#setting-account .button-edit:hover {
  background: #2e3856;
}

#setting-account i {
  line-height: 20px;
}

.add-picture {
  color: #d9dde8;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background: none;
  border: 2px solid #d9dde8;
  /* line-height: 65px; */
}

.add-picture {
  padding: 0px !important;
}

.delete-setting-account {
  justify-content: space-between;
}

#setting-account h1 {
  font-size: 44px;
  margin-bottom: 40px;
}

#setting-account h2 {
  font-size: 16px;
  margin: 40px 0 15px 0;
}

#setting-account h3 {
  align-content: center;
  margin-bottom: 5px;
  font-size: 16px;
}
#setting-account p {
  font-size: 16px;
}

.setting-account-personal-block {
  border: 2px solid #d9dde8;
  border-radius: 10px;
}

.setting-account-personal-information-account-type h3,
.setting-account-personal-information-theme h3,
.setting-account-personal-information-language h3,
.setting-account-personal-information-create h3 {
  line-height: 40px;
}

.delete-setting-account-title {
  line-height: 20px;
}

.button-delete-setting-account {
  background: #b00020 !important;
  border: 2px solid #b00020 !important;
  padding: 10px 30px;
}

.setting-account-personal-information-picture h3 {
  margin-bottom: 15px !important;
}

.setting-account-personal-information-account-privacy {
  margin-bottom: 60px;
}
